p{
    color: gray;
}

.secondParagraph{
    color: blue;
}

.firstParagraph{
    color: pink;
}

.thirdParagraph{
    text-align: center;
    color: pink;
}

.fourthParagraph{
    color: pink;
}

span{
    text-decoration: underline;
    display: block;
}
