p{
    color: yellow;
    background-color: gray;
}

.secondParagraph{
    background-color: blue;
}

.firstParagraph{
    background-color: pink;
}

.thirdParagraph{
    background-color: pink;
}

.fourthParagraph{
    background-color: pink;
}